:root {
	--text-animation-blue-color: #06ffff;
	--text-animation-grey-color: #999999;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0 1rem;
	font-family: "Oswald", sans-serif;
	background-color: #050506;
	overflow-x: hidden;
}

/* Start Screen */

.start {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100dvh;
}

.start::before {
	content: "";
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, 50%);
	z-index: -1;
	width: 400px;
	height: 160px;
	filter: blur(300px);
	border-radius: 50%;
	background-color: var(--text-animation-blue-color);
}

.start__box {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	max-width: 575px;
	text-align: center;
}

.start__logo {
	display: block;
	width: 325px;
}

.start__logo img {
	display: block;
	width: 100%;
	height: auto;
}

.start__heading {
	margin: 30px 0 0;
	color: white;
	font-size: 5.2rem;
	line-height: 1.3;
	font-weight: 400;
	text-transform: uppercase;
	white-space: nowrap;
}

.start__text {
	margin: 10px 0 0;
	font-size: 1.625rem;
	line-height: 1.4;
	font-weight: 500;
	font-family: "Poppins", sans-serif;
	color: var(--text-animation-grey-color);
}

@keyframes scroll {
	0%,
	100% {
		opacity: 0.25;
		transform: translateY(0);
	}

	50% {
		opacity: 0.5;
		transform: translateY(10px);
	}
}

.scroll-marker {
	position: absolute;
	top: calc(100% + 80px);
	left: calc(50% - 10px);
	margin-top: auto;
	width: 20px;
	animation: scroll 2.5s ease infinite;
}

.scroll-marker svg {
	display: block;
	width: 100%;
	height: auto;
	color: var(--text-animation-grey-color);
}

/* Text Screen */

.text-animation {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 5vw;
}

.text-animation__text {
	font-size: 5.2vw;
	line-height: 1.3;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	color: white;
}

.text-animation__blur {
	position: relative;
	display: inline-block;
}

.text-animation__blur::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 100%;
	max-width: 11vw;
	max-height: 4.48vw;
	border-radius: 50%;
	background-color: var(--text-animation-blue-color);
	filter: blur(5vw);
	z-index: 0;
	pointer-events: none;
}

.text-animation__word {
	position: relative;
	display: inline-block;
	transition: color 0.3s ease, opacity 0.3s ease;
	white-space: nowrap;
}

.text-animation__image-wrapper {
	position: relative;
	display: inline-block;
	flex-shrink: 0;
	overflow: hidden;
	margin: 0 0.5vw;
	width: 0;
	max-width: 11.2vw;
	height: 4.48vw;
	transition: width 0.1s ease-out;
}

.text-animation__animated-img {
	position: absolute;
	top: 0;
	left: 50%;
	width: 11.2vw;
	height: 100%;
	border-radius: 0.25rem;
	object-fit: cover;
	transform: translateX(-50%);
}

.text-animation__reveal {
	position: absolute;
	top: 0;
	z-index: 2;
	width: 50%;
	height: 100%;
	pointer-events: none;
}

.text-animation__reveal.left {
	left: 0;
}

.text-animation__reveal.right {
	right: 0;
}

/* Final Screen */

.final {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 5vw;
	padding: 2vw 0;
}

.final__bottom-text {
	align-self: flex-end;
	margin: 3.75vw 0;
	max-width: 35vw;
	font-size: 2rem;
	line-height: 1.4;
	font-weight: 500;
	font-family: "Poppins", sans-serif;
	color: var(--text-animation-grey-color);
}

.final__bottom-text span {
	display: inline-block;
	background-color: white;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	transition: background-color 0.3s, color 0.3s;
}

/* Responsive */

@media screen and (max-width: 1024px) {
	.text-animation {
		margin: 0 auto;
	}

	.text-animation__text {
		font-size: 7.35vw;
	}

	.final {
		padding: 60px 0 180px;
		margin: 0 auto;
	}

	.final__bottom-text {
		font-size: 1.5rem;
		max-width: 100%;
		text-align: center;
	}
}

@media screen and (max-width: 575px) {
	.start__box {
		max-width: 100%;
	}

	.start__heading {
		font-size: 3.25rem;
	}

	.start__text {
		font-size: 1.3rem;
	}

	.final__bottom-text {
		font-size: 1rem;
		font-weight: 400;
	}
}
